@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
* {
    margin: 0;
    padding: 0;
}
section {
    background-color: rgb(18, 19, 16, 0.9);
    width: 1400px;
    height: 100vh;
    padding: 150px;
    margin: 20px;    
}
.main-container {
    background-color: rgba(255, 240, 240, 0.913);
    width: 60vh;
    margin: 20px 0px;
    padding: 40px;
    height: 50%;
    border-radius: 10px;
    /* flex: content */
    position: relative;
}
.heading-container {
    background-color: rgb(246, 23, 108);
    padding: 30px;
    width: 50vh;
    box-shadow: 0em;
    border-radius: 7px;
    align-content: center;
    position: absolute;
    top: -30px;
    left: 60px;
}

.heading {
    text-align: center;
    font-size: 50px;
    font-weight: bold;

}
.text p {
    line-height: 1.8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 500;
    padding-top: 150px;
}
